body{
    background-color: #376EB4;
}

html, body {
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}
a {
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    height: 500px;
    background-color: #ffffff;
    margin: auto;
    max-width: 1600px;
    min-width: 400px;
    padding-top: 70px;
}
#sobre {
   position: relative;
   height: 600px;
   margin-top: 0px; 
   margin-bottom: 0px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}
#h3 {
    height: 1830px;
}
header#h3 h1 {
    font-family: sans-serif;
    font-size: 3em;
    color: #2C588C;
    margin: 0px;
    text-align: center;
}

.produtos {
    height: 500px;
    background-color: #ffffff;
    width: 1400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.058);
    padding-bottom: 20px;
}
header#h3 p {
    text-align: center;
    margin-top: 30px;
}
#barra {
    height: 40px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
#space {
    height: 50px;
    background-color: white;
    width: 100%;
}
nav {
    height: 137px;
    background-color: #CBDFF1;
    max-width: 1600px;
    margin: auto;
    padding-bottom: 3em;
}
#tt {
    font-family: sans-serif;
    font-size: 4em;
    max-width: 1000px;
    margin-top: 40px;
    margin-left: 76px;
    color: #2C588C;
    margin-bottom: 15px;
}
#ns {
   font-family: sans-serif;
    font-size: 4em;
    color: #2C588C;
    margin-bottom: 15px; 
}
.font {
   font-family: sans-serif; 
   font-size: medium;
}
#title {
    max-width: 1000px;
    margin-top: 17px;
    margin-left: 80px;
}
#botton {
    top: 20px;
    right: 4px;
    background-color: #376EB4;
    padding: 15px;
    border-radius: 5px;
    color: white;
}
main {
    display: flex;
    position: relative;
}
header > img {
    position: absolute;
    left: 45em;
}
.painel {
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 18em;
    padding-bottom: 5em;
    margin-right: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.132);
    text-align: center;
    margin: 0px;
}
#p2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    left: 88px;

}
#pn {
    position: absolute;
    margin: auto;
    display: flex;
    top: 33em;
    left: 50%;
    transform: translate(-50%);
}
#center {
    margin-right: 8em;
    margin-left: 8em;
}
.fpn {
    font-family: sans-serif;
    font-size: 25px;
    color: #376EB4;
    padding-top: -2px;
}
.figure {
    position: relative;
    top: 1em;
    width: 5em;
}
#botton:hover {
    background-color: #204574;
}
.menu:hover {
   color: #ffffff; 
   text-decoration: underline;
}
.fpn:hover {
    color: #204574; 
}

#button:hover {
    background-color: #204574;
}
#sns {
    text-align: center;
}
.pl {
   background-color: rgb(255, 255, 255);
    height: 5em;
    width: 15em;
    padding-bottom: 8em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center; 
}
#btt {
    background-color: #376EB4;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    color: white;
    top: 2em;
}
#obs {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
#cachorro {
    position: absolute;
    width: 35em;
    bottom: 30px;;
    left: 40em;

}
header main {
    width: 100%;
}
#btt:hover{
    background-color: #204574;
}
#cachorro {
    position: absolute;
    top: 1px;
}
#gato {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-7%);
}
#ca {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 28px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 17px;
}
#ca:hover {
    background-color: rgb(222, 222, 222);
}
#botoes {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.direita {
    position: absolute;
    left: 50%;
    max-width: 500px;
    transform: translate(30%);
}
.dj {
    font-family: sans-serif;
    color: #204574;
    width: 70%;
    font-size: 2em;
}
#pp {
    width: 500px;
    margin-top: 0px;
    margin-left: 80px;
}
.lista {
    font-family: sans-serif;
    width: 40%;
    margin-top: 0px;
    margin-left: 60px;
}
li {
    margin-bottom: 5px;
}
#dp {
    width: 600px;
    left: 7.5em;
    margin-top: 70px;
    margin-left: 60px;
    margin-bottom: 0px;
}
#bon {
    background-color: #376EB4;
    padding: 15px;
    border-radius: 5px;
    color: white;
    margin-left: 80px;

}

.pla{
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 23em;
    padding-bottom: 8em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center; 
}
#p2f{
    display: flex;
    width: 1300px;
    margin: auto;
    justify-content: center;
    margin-top: 35px;
}
header#h4 h1 {
   font-family: sans-serif;
    font-size: 3em;
    color: #2C588C;
    margin: 0px;
    text-align: center; 
}
header#h4 p {
    text-align: center;
    margin: 30px;
}
.fpna{
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin: 0px; 
    height: 25px;   
    width: 65%;
    
}
.fpna img{
    width: 14%;
    border-radius: 50%;
}
.nb{
    display: flex;
    width: 80%;
    margin: 30px 0px 0px 30px;
}
.bj{
    width: 55px;
    height: 55px;
    left: 0px;
    border-radius: 50%;
}
.estrela{
    width: 12%;
    margin-right: 3px;
}
.estrelas{
    display: flex;
    width: 70%;
    margin-left: 13px;
    
}
.agr{
    flex-direction: column;
    margin: auto;
}
.pla p{
    text-align: left;
}
#info {
    height: 12em;
    max-width: 1600px;
    margin: auto;
    background-color: #204574;
}
#h4 {
    height: 28em;
}
#ui{
    display: flex;
    height: 100%;
    justify-content: center;
}
.vl{
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
    margin-inline: 3em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.vb {
    font-family: sans-serif; 
   font-size: medium;
   color: white;;
   margin: 0px;
   margin-top: 5px;
}
#form1 {
    height: 250px;
    max-width: 1600px;
    margin: auto;
    background-color: white;
    text-align: center;
}
#haj {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #2C588C;
    margin: 0px;
    padding-top: 60px;
    text-align: center; 
}
body * {
    brder: 1px solid red;
}
#iemail {
    height: 37px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.227);
    padding-left: 10px;
}
#enviar {
    background-color: #204574;
    height: 40px;
    width: 150px;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 15px;
}
#iemail::placeholder{
    position: absolute;
    left: 10px;
}
#iemail:focus::placeholder{
    color: transparent;
}
#ctt {
    position: relative;
    height: 1000px;
}
#ctt #hj{
    text-align: center;
}
#ctt #sla {
    text-align: center;
}
#hj {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #2C588C;
    margin: 0px;
}
.caixas {
    display: inline-block;
    position: relative;
    background-color: #efefef66;
    height: 200px;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
#dcx1 {
    width: 750px;
    height: 200px;
    margin: 70px 0px 0px 120px;
}
#dcx2 {
    width: 750px;
    height: 200px;
    margin: 30px 0px 0px 120px;
}
.imgf {
    position: absolute;
    width: 80px;
    border-radius: 50%;
}
#dcx1 #as{
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    top: 27px;
    left: 90px;
}
#dcx2 #as{
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    top: 27px;
    left: 90px;
}
#dcx1 #az {
    position: absolute;
    top: 70px;
    left: 15px;
    font-size: 18px;
}
#dcx2 #az {
    position: absolute;
    top: 70px;
    left: 15px;
    font-size: 18px;
}
#mens {
    background-color: #efefef66;
    position: absolute;
    height: 600px;
    width: 490px;
    right: 80px;
    top: 240px;
    border-radius: 10px;
    padding: 15px;

}
#jdi {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}
.barra1 {
    height: 40px;
    width: 230px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    margin-top: 8px;
    margin-right: 3px;
    border-radius: 5px;
}
.barra2 {
    height: 150px;
    width: 99%;
    border: 1px solid rgba(0, 0, 0, 0.189);
    margin-top: 8px;
    margin-right: 3px;
    border-radius: 5px;
}
.barra2::placeholder {
    font-family: sans-serif;
}
.barra2:focus::placeholder {
    color: transparent;
}
.redes {
    width: 280px;
    margin-left: 130px;
}
.sociais {
    width: 50px;
}
#amf {
    display: flex;
    justify-content: center;
}
#jjj {
    font-size: 1.3em;
    font-family: sans-serif;
    color: #000000b9;
    padding-bottom: 13px;
}