.about_widget {
  display: block;
  height: 637px;
  max-width: 1600px;
  min-width: 400px;
  margin: auto;
  padding-top: 70px;
  background-color: #ffffff;
  font-family: sans-serif;
}

.about_widget__container {
  text-align: center;
}

.about_widget__title {
  margin-bottom: 15px;
  font-size: 4em;
  color: #2C588C;
}

.about_widget__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
  left: 88px;
}

.about_widget__icon {
  position: relative;
  top: 1em;
  width: 5em;
}

.about_widget__navlabel {
  font-size: 25px;
  color: #376EB4;
  padding-top: -2px;
}

.about_widget__button-wrapper {
  height: 40px;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.about_widget__ctabutton {
  top: 2em;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 10px;
  background-color: #376EB4;
  color: white;
}

#btt:hover {
  background-color: #204574;
}

.about_widget__panel {
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 15em;
    padding-bottom: 8em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center; 
}

.about_widget__panel-center {
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 15em;
    padding-bottom: 8em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center; 
    margin-right: 8em;
    margin-left: 8em;
}