.contact_widget {
    position: relative;
    height: 1000px;
    font-family: sans-serif;
    font-size: medium;
}

.contact_widget #hj{
    text-align: center;
}
.contact_widget #sla {
    text-align: center;
}

.contact_widget__title {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #2C588C;
    margin: 0px;
}