.email-input_widget {
    height: 250px;
    max-width: 1600px;
    margin: auto;
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

.email-input_widget_cta {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #2C588C;
    margin: 0px;
    padding-top: 60px;
    text-align: center; 
}