.navbar_widget {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #204574;
  font-family: sans-serif;
  font-size: medium;
  XXXborder: solid 1px red;
}

.navbar_widget__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 1154px;
  padding: 0px 32px;
}

.navbar_widget * {
  XXXborder: solid 1px red;
}

.navbar_widget__img {
  left: 80px;
  width: 48px;
}

.navbar_widget__text {
  align-self: auto;
  text-indent: 10px;
  width: 100%;
  color: white;
}

.navbar_widget__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 416px;
  font-family: sans-serif;
  font-size: medium;
}
