.navbar_widget {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  max-width: 1600px;
  margin: auto;
  background-color: #204574;
  font-family: sans-serif;
  font-size: medium;
}

.navbar_widget__img {
  position: absolute;
  left: 80px;
  width: 50px;
}

.navbar_widget__text {
  position: absolute;
  left: 140px;
  color: white;
}

.navbar_widget__menu {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0px;
  width: 600px;
  font-family: sans-serif;
  font-size: medium;
}
