.navbar_widget {
    position: relative;
    display: flex;
    height: 50px;
    background-color: #204574;
    margin: auto;
    align-items: center;
    max-width: 1600px;
}
.navbar_widget__img {
    width: 50px; 
    position: absolute; 
    left: 80px;
}
.navbar_widget__text {
    position: absolute;
    color: white;
    left: 140px;
    font-family: sans-serif; 
    font-size: medium;
}
.navbar_widget__menu {
    position: absolute;
    display: flex;
    width: 600px;
    right: 30px;
    align-items: center;
    justify-content: center;
    right: 0px;
    font-family: sans-serif; 
    font-size: medium;
}
.font {
   font-family: sans-serif; 
   font-size: medium;
}