.overview_widget {
    display: block;
    height: 500px;
    background-color: #ffffff;
    margin: auto;
    max-width: 1600px;
    min-width: 400px;
    padding-top: 70px;
}
/* header#h3 h1 {
    font-family: sans-serif;
    font-size: 3em;
    color: #2C588C;
    margin: 0px;
    text-align: center;
}
header#h3 p {
    text-align: center;
    margin-top: 30px;
} */
header > img {
    position: absolute;
    left: 45em;
}
header main {
    width: 100%;
}
header#h4 h1 {
   font-family: sans-serif;
    font-size: 3em;
    color: #2C588C;
    margin: 0px;
    text-align: center; 
}
header#h4 p {
    text-align: center;
    margin: 30px;
}
#tt {
    font-family: sans-serif;
    font-size: 4em;
    max-width: 1000px;
    margin-top: 40px;
    margin-left: 76px;
    color: #2C588C;
    margin-bottom: 15px;
}
#title {
    max-width: 1000px;
    margin-top: 17px;
    margin-left: 80px;
}
.font {
   font-family: sans-serif; 
   font-size: medium;
}
#botoes {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
#botton {
    top: 20px;
    right: 4px;
    background-color: #376EB4;
    padding: 15px;
    border-radius: 5px;
    color: white;
}
#botton:hover {
    background-color: #204574;
}
#ca {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 28px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 17px;
}
#ca:hover {
    background-color: rgb(222, 222, 222);
}
#gato {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-7%);
}


